/* Clients */
.section.clients {
  background-color: var(--primary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  gap: 30px;
}

.clients-icon {
  width: 170px;
  height: 92px;
  padding: 0;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--animation-time) var(--animation-bezier),
    border-color var(--animation-time) var(--animation-bezier);
}

.clients-icon:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
