/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--animation-time) var(--animation-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item {
  margin-left: 50px;
}
