/* Футер */
.footer {
  background-color: var(--footer-background-color);
  color: var(--primary-bg-color);
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .contacts {
  margin-left: 0;
}

.footer .list {
  margin-bottom: 60px;

  @media screen and(min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
    text-align: center;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer .item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address {
  padding: 0;
  display: inline-block;
}

.footer .contacts {
  text-decoration: none;
  font-style: normal;
  color: var(--footer-contacts-color);
  display: inline-block;
}

.info {
  @media screen and(max-width: 1199px) {
    text-align: center;
  }

  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
  }

  @media screen and(min-width: 1200px) {
    gap: 70px;
  }
}

.info-title {
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
